@charset "UTF-8";
/* !!!: to set how many rows to show in element before clamp */
.news-card .news-card-image {
  border-radius: 10px;
  height: 250px;
  overflow: hidden;
}
.news-card .news-card-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.news-card .news-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.news-card .news-desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.news-header {
  background: url("../images/bgs/news-bg.png");
  background-size: cover;
  background-position: center;
}

.hr-dashed {
  border: 0; /* Remove default border */
  border-top: 2px dashed var(--bs-border-color); /* Bootstrap’s border color variable */
}